<?xml version="1.0" encoding="UTF-8"?>
<installer>
  <settings>
    <hidedevice>true</hidedevice>
    <hidesize>16</hidesize>
    <bootsector>16</bootsector>
    <checkroot>true</checkroot>
  </settings>
  <url>
    <display>GNUBLIN page</display>
    <kernel_32mb>http://www.gnublin.org/downloads/kernel-2.6.33/zImage</kernel_32mb>
    <bootloader_32mb>http://www.gnublin.org/downloads/apex/apex.bin</bootloader_32mb>
    <rootfs_32mb>http://www.gnublin.org/downloads/rootfs.tar.gz</rootfs_32mb>
    <kernel_8mb>http://www.gnublin.org/downloads/kernel-2.6.33/zImage</kernel_8mb>
    <bootloader_8mb>http://www.gnublin.org/downloads/apex/apex.bin</bootloader_8mb>
    <rootfs_8mb>http://www.gnublin.org/downloads/rootfs.tar.gz</rootfs_8mb>
  </url>
</installer>
